body {
	background-color: white;
	
	}
p {
	font-size: 20px

	}
h1 {
	font-size: 32px
	}
h2 {
	font-size: 24px
	}

.oof {
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 5px;
	min-height: 500px;
	text-align: left;
	background-color: white;
	

}
img.oof {
	float: left;
	
}
.tip {
	margin-left: 160px;
	margin-right: 160px;
	margin-bottom: 5px;
	background-color: #def6ed ; 
	min-height: 40px;
	}
.hoofdmenu {
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
}
.hoofimg {
	display: block;
	min-width: 1200px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}



