body {
	background-color: white;
	
	}
p {
	font-size: 20px

	}
h1 {
	font-size: 32px
	}
h2 {
	font-size: 24px
	}

.oof {
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 5px;
	min-height: 1000px;
	text-align: left;
	background-color: white;
	

}
img {
	float: left;
	
}
.tip {
	margin-left: 90px;
	margin-right: 90px;
	margin-bottom: 5px;
	background-color: #def6ed ; 
	min-height: 40px;
	}
